<f:section name="stylesheets">
    <link rel="stylesheet" href="{f:uri.resource(path: 'Styles/Markdown.css', package: 'MapSeven.Markdown')}" media="all" />
</f:section>

<f:section name="scripts">
    <script src="{f:uri.resource(path: 'Scripts/Markdown.Converter.js', package: 'MapSeven.Markdown')}"></script>
    <script src="{f:uri.resource(path: 'Scripts/Markdown.Sanitizer.js', package: 'MapSeven.Markdown')}"></script>
    <script src="{f:uri.resource(path: 'Scripts/Markdown.Editor.js', package: 'MapSeven.Markdown')}"></script>
</f:section>